<h1><%= @movie.name %></h1>
<% unless @movie.reviews.empty? %>
   <% @movie.reviews.each do |review| %>
    <% user = @users.detect { |user| user.id == review.user_id } %>
    <p><%= review.content%> by <a href='/users/<%= user.id %>'><%= user.username %></a></p>
    <% if user == current_user %>
      <div class='current_user_actions_review_<%=review.id%>'>
        <a href='/reviews/<%= review.id %>/edit'>edit review</a>
        <form method='post' action='/reviews/<%= review.id %>/delete'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' name='delete' value='delete review'>
        </form>
      </div>
    <% end %>
  <% end %> 
<% else %>
  <p><%= @movie.name %> has no reviews!</p>
<% end %> 

<% if logged_in? %>
  <p>Add a review!</p>
  <% if @error %>
    <p><%=@error%></p>
  <% end %>
  <form method='post' action='/reviews'>
    <input type='hidden' name='movie_id' value='<%=@movie.id%>'> 
    <input type='text' name='content'>
    <select name='rating'>
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
    </select>
    <input type='submit' value='submit'>
  <form>
<% else %>
  <p>Log in to add a review!</p>
<% end %>